.home {
  border: 1px solid black;
  margin: 0;
}

.main {
  border: 1px solid black;
  min-height: 86vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
body {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}
.header li {
  list-style: none;
  width: 200px;

  color: blue;
  background-color: white;
  padding: 37px 20px 37px 20px;
  cursor: pointer;
}
.header li img {
  width: 100px;
  height: 100px;
  padding: 0;
}
.header li:hover {
  background-color: brown;
}

.lside {
  border: 1px solid black;
}
.rside {
  border: 1px solid black;
}
.itemFood {
  list-style: none;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}
.itemFood img {
  width: 200px;
}
.listOfFood {
  margin: 0;
  padding: 0;
}
.itemFood h2 {
  width: 150px;
}
.butt {
  background-color: greenyellow;
  margin: 30px 0 30px 0;
  width: 80px;
  border-radius: 10px;
}
.header .withPicture {
  padding: 0;
  width: 150px;
  height: 90px;
  border: 1px solid black;
  border-radius: 50%;
}
.onlyHamb {
  border: 1px solid black;
  min-height: 86vh;
}
.onlyHamb ul div img {
  width: 200px;
}
.rside {
  background-image: url("../public/steak.jpeg");
  background-position: center;
}
.lside {
  background-image: url("../public/pizza.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vh;
}
